body {
    background-color: #1E1D1D;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #eeeeee;
    font-size: 25px;
    margin-right: 25%;
    margin-left: 25%;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    cursor: pointer;
}

nav {
    text-align: left;
    font-size: 15px;
    display: block;
    margin-right: 25%;
    margin-left: 25%;
}

p {
    font-size: 20px;
    margin-right: 25%;
    margin-left: 25%;
    color: #d1d1d1
}

.space {
    margin-top: 1000px;
}

.menutop {
    margin-top: 5%;
}

.block, .menu {
    display: block;
    width: 300px;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
}

.block {
    background-color: rgb(12, 187, 12);
}

.menu {
    background-color: #121212;
}

.block:hover {
    background-color: rgb(84, 241, 84);
}

.menu:hover {
    background-color: #2f2f2f;
}

.left, .right {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #2D2D2D;
    display: block;
    top: 0;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.copyright {
    margin-right: 25%;
    margin-left: 25%;
    color: grey;
    text-align: center;
}

.back {
    display: block;
    color: white;
    background-color: #1E1D1D;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 25%;
    margin-left: 25%;
    border-width: 0px;
    font-size: 15px;
}

.back:hover {
    background-color: #2f2f2f;
}

.container {
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 2%;
    margin-top: 2%;
    background-color: rgb(34, 58, 34);
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.container:hover {
    background-color: rgb(32, 70, 43);
}

.btitle {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 2%;
    color: white;
    font-size: 20px;
}

.bdesc {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    margin-top: 1%;
    color: #d1d1d1
}

.github {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    cursor: pointer;
}

.unselected {
    display: block;
    width: 100px;
    color: white;
    padding: 15px 30px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    background-color: #121212;
}

.unselected:hover {
    background-color: #2f2f2f;
}