body {
    background-color: rgb(0, 255, 136); 
    margin-right: 100px;
    margin-left: 100px;
}

h1 {
    color: rgb(102, 20, 20);
    text-align: center;
    font-family: Calibri, sans-serif;
    font-size: 30px;
}

nav {
    text-align: left;
    font-family: Calibri, sans-serif;
    font-size: 15px;
    display: block;
}

p {
    font-family: Calibri, sans-serif;
    font-size: 20px;
}

.space {
    margin-top: 1000px;
}

.time {
    margin-left: 650px;
}