body {
    background-color: #1E1D1D;
    font-family: Calibri, sans-serif;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #eeeeee;
    text-align: left;
    font-size: 25;
    margin-right: 25%;
    margin-left: 25%;
}

nav {
    text-align: left;
    font-size: 15px;
    display: block;
    margin-right: 25%;
    margin-left: 25%;
}

p {
    font-size: 20px;
    margin-right: 25%;
    margin-left: 25%;
    color: #d1d1d1
}

.space {
    margin-top: 1000px;
}

.menutop {
    margin-top: 15%;
}

.block, .menu {
    display: block;
    width: 300px;
    border: 0px;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.block {
    background-color: rgb(12, 187, 12);
}

.menu {
    background-color: #121212
}

.block:hover {
    background-color: rgb(84, 241, 84);
    color: white;
}

.menu:hover {
    background-color: #2f2f2f;
    color: white;
}

.left, .right {
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #2D2D2D;
    display: block;
    top: 0;
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}